USE [QLDSV1]
GO
/****** Object:  Table [dbo].[tbl_khoa]    Script Date: 18/10/2020 8:45:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_khoa](
	[MAKHOA] [nchar](10) NOT NULL,
	[TENKHOA] [nvarchar](100) NULL,
 CONSTRAINT [PK_tbl_khoa] PRIMARY KEY CLUSTERED 
(
	[MAKHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_sinhvien]    Script Date: 18/10/2020 8:45:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_sinhvien](
	[MASV] [nchar](10) NOT NULL,
	[HOVATEN] [nvarchar](50) NULL,
	[GIOITINH] [bit] NULL,
	[NGAYSINH] [date] NULL,
	[LOP] [nchar](10) NULL,
	[MAKHOA] [nchar](10) NULL,
	[HOCKY] [nchar](10) NULL,
	[MONHOC] [nvarchar](50) NULL,
	[DIEMTHILAN1] [nvarchar](10) NULL,
	[DIEMTRUNGBINH] [nvarchar](10) NULL,
	[DIEMTONGKET] [nvarchar](10) NULL,
	[HANHKIEM] [nvarchar](10) NULL,
	[ANH] [image] NULL,
 CONSTRAINT [PK_tbl_sinhvien] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[tbl_khoa] ([MAKHOA], [TENKHOA]) VALUES (N'CNTT      ', N'Công nghệ thông tin')
INSERT [dbo].[tbl_khoa] ([MAKHOA], [TENKHOA]) VALUES (N'NNA       ', N'Ngôn ngữ anh')
INSERT [dbo].[tbl_khoa] ([MAKHOA], [TENKHOA]) VALUES (N'QTKD      ', N'Quản trị kinh doanh')
ALTER TABLE [dbo].[tbl_sinhvien]  WITH CHECK ADD  CONSTRAINT [FK_tbl_sinhvien_tbl_khoa] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[tbl_khoa] ([MAKHOA])
GO
ALTER TABLE [dbo].[tbl_sinhvien] CHECK CONSTRAINT [FK_tbl_sinhvien_tbl_khoa]
GO
/****** Object:  StoredProcedure [dbo].[GetAllStudent]    Script Date: 18/10/2020 8:45:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllStudent] 
AS
BEGIN
	SET NOCOUNT ON;


	SELECT * From dbo.tbl_sinhvien
END

GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteKhoa]    Script Date: 18/10/2020 8:45:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteKhoa]
    @makhoap nchar(10)
AS
BEGIN
    Delete from tbl_khoa where MAKHOA = @makhoap	
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Deletestudent]    Script Date: 18/10/2020 8:45:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Deletestudent]
@Masvp nchar(10)
AS
BEGIN
	Delete from tbl_sinhvien where MASV=@Masvp
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllkhoa]    Script Date: 18/10/2020 8:45:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllkhoa]
AS
BEGIN
	Select * from tbl_khoa
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllStudent]    Script Date: 18/10/2020 8:45:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllStudent]
AS
BEGIN
	select tbl_sinhvien.[MASV], tbl_sinhvien.[HOVATEN],
	tbl_sinhvien.[GIOITINH],tbl_sinhvien.[NGAYSINH],
	tbl_sinhvien.[LOP],tbl_sinhvien.[MAKHOA],
	tbl_sinhvien.[HOCKY],tbl_sinhvien.[MONHOC],
	tbl_sinhvien.[DIEMTHILAN1],tbl_sinhvien.[DIEMTRUNGBINH],
	tbl_sinhvien.[DIEMTONGKET],tbl_sinhvien.[HANHKIEM],
	tbl_khoa.[TENKHOA]
	from tbl_khoa,tbl_sinhvien
	where tbl_khoa.[MAKHOA] = tbl_sinhvien.[MAKHOA]
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllStudent1]    Script Date: 18/10/2020 8:45:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllStudent1]
AS
BEGIN
	select tbl_sinhvien.[MASV], tbl_sinhvien.[HOVATEN],
	tbl_sinhvien.[GIOITINH],tbl_sinhvien.[NGAYSINH],
	tbl_sinhvien.[LOP],tbl_sinhvien.[HOCKY],
	tbl_sinhvien.[MONHOC],tbl_sinhvien.[DIEMTHILAN1],
	tbl_sinhvien.[DIEMTRUNGBINH],tbl_sinhvien.[DIEMTONGKET],
	tbl_sinhvien.[HANHKIEM],tbl_khoa.[TENKHOA],tbl_sinhvien.[ANH]
	from tbl_khoa,tbl_sinhvien
	where tbl_khoa.[MAKHOA] = tbl_sinhvien.[MAKHOA]
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetKhoaIf]    Script Date: 18/10/2020 8:45:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetKhoaIf]
AS
BEGIN
	select tbl_khoa.MAKHOA,tbl_khoa.TENKHOA from tbl_khoa
END

GO
/****** Object:  StoredProcedure [dbo].[sp_InserKHOA]    Script Date: 18/10/2020 8:45:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InserKHOA]
  @makhoa nchar(10),
  @tenkhoa nvarchar(100)
AS
BEGIN
  Insert into tbl_khoa(MAKHOA,TENKHOA)
     values (@makhoa,@tenkhoa)
End

GO
/****** Object:  StoredProcedure [dbo].[sp_InserSinhvien]    Script Date: 18/10/2020 8:45:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InserSinhvien]
   @Masvp nchar(10),
   @Hovatenp nvarchar(50),
   @Gioitinh bit,
   @Ngaysinh date,
   @Lop nchar(10),
   @Makhoa nchar(10),
   @Hocky nchar(10),
   @Monhoc nvarchar(50),
   @Diemthilan1 nvarchar(10),
   @Diemtrungbinh nvarchar(10),
   @Diemtongket nvarchar(10),
   @Hanhkiem nvarchar(50),
   @Anhp image

AS
BEGIN
  Insert into tbl_sinhvien(MASV,HOVATEN,GIOITINH,NGAYSINH,LOP,MAKHOA,HOCKY,MONHOC,DIEMTHILAN1,DIEMTRUNGBINH,DIEMTONGKET,HANHKIEM,ANH)
  values (@Masvp,@Hovatenp,@Gioitinh,@Ngaysinh,@Lop,@Makhoa,@Hocky,@Monhoc,@Diemthilan1,@Diemtrungbinh,@Diemtongket,@Hanhkiem,@Anhp)
End
GO
/****** Object:  StoredProcedure [dbo].[sp_TimkiemSinhvien]    Script Date: 18/10/2020 8:45:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TimkiemSinhvien]
        @Masvp nchar(10),
		@Hovatenp nvarchar(50),
		@Lopp nchar(10),
		@Makhoap nchar(10),
		@Monhocp nvarchar(50),
		@Hanhkiemp nvarchar(50)

AS
BEGIN
	select tbl_sinhvien.MASV,
	       tbl_sinhvien.HOVATEN,
		   tbl_sinhvien.GIOITINH,
		   tbl_sinhvien.NGAYSINH,
		   tbl_sinhvien.LOP,
		   tbl_sinhvien.MAKHOA,
		   tbl_sinhvien.HOCKY,
		   tbl_sinhvien.MONHOC,
		   tbl_sinhvien.DIEMTHILAN1,
		   tbl_sinhvien.DIEMTRUNGBINH,
		   tbl_sinhvien.DIEMTONGKET,
		   tbl_sinhvien.HANHKIEM
		  
	
	 from tbl_sinhvien
	  where MASV like @Masvp
	  OR    HOVATEN = @Hovatenp
	  OR    MONHOC like @Monhocp
	  OR    LOP like @Lopp
	  OR    MAKHOA = @Makhoap
	  OR    HANHKIEM = @Hanhkiemp
END

GO
/****** Object:  StoredProcedure [dbo].[sp_TimkiemTenKhoa]    Script Date: 18/10/2020 8:45:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TimkiemTenKhoa]
        @Tenkhoap nvarchar(100),
		@Makhoap nchar(10)
AS
BEGIN
	select * from tbl_khoa
	 where TENKHOA like @Tenkhoap
	 OR    MAKHOA  = @Makhoap
END
GO
/****** Object:  StoredProcedure [dbo].[Update_Info_KHOA]    Script Date: 18/10/2020 8:45:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Update_Info_KHOA]
     @makhoa nchar(10),
	 @tenkhoa nvarchar(100)
AS
BEGIN
    Update tbl_khoa
	set TENKHOA = @tenkhoa
	where MAKHOA = @makhoa
	
END

GO
/****** Object:  StoredProcedure [dbo].[Update_Info_student1]    Script Date: 18/10/2020 8:45:36 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Update_Info_student1]
      @Masv_1 nchar(10),
	  @Hovaten_1 nvarchar(50),
	  @Gioitinh_1 bit,
	  @Ngaysinh_1 date,
	  @Lop_1 nchar(10),
	  @Makhoa_1 nchar(10),
	  @Hocky_1 nchar(10),
	  @Monhoc_1 nvarchar(50),
	  @Diemthilan1_1 nvarchar(10),
	  @Diemtrungbinh_1 nvarchar(10),
	  @Diemtongket_1 nvarchar(10),
	  @Hanhkiem_1 nvarchar(50),
	  @Anh_1 image
AS
BEGIN
	Update tbl_sinhvien
	Set    HOVATEN = @Hovaten_1,
	       GIOITINH = @Gioitinh_1,
		   NGAYSINH = @Ngaysinh_1,
		   LOP = @Lop_1,
		   MAKHOA = @Makhoa_1,
		   HOCKY = @Hocky_1,
		   MONHOC = @Monhoc_1,
		   DIEMTHILAN1 = @Diemthilan1_1,
		   DIEMTRUNGBINH = @Diemtrungbinh_1,
		   DIEMTONGKET = @Diemtongket_1,
		   HANHKIEM = @Hanhkiem_1,	
		   ANH = @Anh_1
     where MASV = @Masv_1
END

GO
